<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 面向Mapper接口编程,mybatis会通过绑定自动寻找对应方法的映射SQL实现接口 -->
<mapper namespace="com.ypy.graduationProject.mapper.DocumentMapper">

	<!-- 查询文档 -->
	<select id="queryDocument" resultType="java.util.HashMap">
		SELECT D.ID, D.UPDATETIME, D.DNAME, D.DPATH, D.ISAPPROVE, D.AGREE, D.APPROVETIME, S.SNAME, S.SID,
		(CASE WHEN (STR_TO_DATE(D.UPDATETIME,'%Y-%m-%d %T')>STR_TO_DATE(D.DOWNLOADTIME,'%Y-%m-%d %T')) THEN 1 ELSE 0 END) ISHAVENEWMSG
		FROM 
		GP_DOCUMENT D 
		JOIN GP_STUDENTS S
		ON D.SID = S.SID
		JOIN GP_TEACHER T
		ON S.TID = T.TID
		<where>
			T.TID = #{tid}
			<if test="text!=null and text!=''">
				AND (D.DNAME LIKE CONCAT('%',#{text},'%') OR S.SNAME = #{text})
			</if>
			<if test="isApprove!=null and isApprove!=''">
				AND ISAPPROVE = #{isApprove}
			</if>
		</where>
	</select> 
	
	<!-- 根据文档编号与教师编号查询文档-->
	<select id="queryByIdAndTid" resultType="Integer">
		SELECT COUNT(1)
		FROM 
		GP_DOCUMENT D 
		JOIN GP_STUDENTS S
		ON D.SID = S.SID
		WHERE D.ID = #{id} AND S.TID = #{tid}
	</select> 
	
	<!-- 修改文档 -->
	<update id="updateDocument">
		UPDATE GP_DOCUMENT D
		<set>
			<if test="agree != null">
				D.AGREE = #{agree},
			</if>
			<if test="isApprove != null">
				D.ISAPPROVE = #{isApprove},
			</if>
			<if test="approveTime != null">
				D.APPROVETIME = #{approveTime},
			</if>
			<if test="downloadTime != null">
				D.DOWNLOADTIME = #{downloadTime},
			</if>
			<if test="updateTime != null">
				D.UPDATETIME = #{updateTime},
			</if>
		</set>
		WHERE D.ID = #{id}
	</update>
	
	<!-- 查询单个文档-->
	<select id="queryOneDocument" resultType="com.ypy.graduationProject.pojo.Document">
		SELECT D.ID,D.AGREE,D.ISAPPROVE
		FROM 
		GP_DOCUMENT D 
		WHERE D.ID = #{id}
	</select> 
	
	<!-- 查询某个学生的所有文档 -->
	<select id="queryDocumentBySid" resultType="java.util.HashMap">
		SELECT D.ID,D.AGREE,D.ISAPPROVE,D.UPDATETIME,D.DNAME,D.APPROVETIME,D.DOWNLOADTIME,D.DPATH
		FROM 
		GP_DOCUMENT D 
		WHERE D.SID = #{sid}
	</select>
	
	<!-- 查询某个文档是否存在 -->
	<select id="isExsit" resultType="com.ypy.graduationProject.pojo.Document">
		SELECT *
		FROM 
		GP_DOCUMENT D 
		WHERE D.SID = #{sid} AND D.DNAME = #{dname}
	</select>
	
	<insert id="addDocument" parameterType="com.ypy.graduationProject.pojo.Document">
		INSERT INTO
		GP_DOCUMENT
		(DNAME,SID,UPDATETIME,ISAPPROVE,DPATH) VALUES (#{dname},#{sid},#{updateTime},'否',#{dpath});
	</insert>
</mapper>