<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 面向Mapper接口编程,mybatis会通过绑定自动寻找对应方法的映射SQL实现接口 -->
<mapper namespace="com.ypy.graduationProject.mapper.StudentMapper">

	<!-- 查询所有学生 -->
	<select id="queryStudent" resultType="java.util.HashMap">
		SELECT 
		T.ID,T.SID,T.SNAME,T.SCLASS,T.SSEX,T.SPHONE,T.CID,T.TID,
		T.SCORE1,T.SCORE2,T.SCORE3,T.SCORE4 
		FROM GP_STUDENTS T
		<where>
		<if test="text!=null and text!=''">
			(T.SID = #{text} OR T.SNAME = #{text})
		</if>
		<if test="tid != -1">
			AND T.TID = #{tid}
		</if>
		</where>
		<if test="sortname!=null and sortvalue!=null">
			ORDER BY ${sortname} ${sortvalue}
		</if>
	</select> 
	
	<!-- 查询是否是自己的学生 -->
	<select id="isExits" resultType="Integer">
		SELECT 
		COUNT(1) 
		FROM GP_STUDENTS T
		WHERE T.SID = #{sid}
		AND T.TID = #{tid}
	</select> 
	
	<!-- 查询单个学生 -->
	<select id="queryIsStudent" resultType="Integer">
		SELECT 
		COUNT(1)
		FROM GP_STUDENTS T
		WHERE T.SID = #{sid} AND T.SPASSWORD = #{spassword}
	</select> 
	
	<!-- 修改学生信息 -->
	<update id="updateStudent" parameterType="com.ypy.graduationProject.pojo.Student">
		UPDATE GP_STUDENTS
		<set>
			SCORE1 = #{score1},
			SCORE2 = #{score2},
			SCORE3 = #{score3},
			SCORE4 = #{score4}
		</set>
		WHERE SID = #{sid}	
	</update> 
</mapper>