<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 面向Mapper接口编程,mybatis会通过绑定自动寻找对应方法的映射SQL实现接口 -->
<mapper namespace="com.ypy.graduationProject.mapper.StudentMapper">

	<!-- 查询所有教师 -->
	<select id="queryTeacher" resultType="java.util.HashMap">
	</select> 
	
	<!-- 查询单个教师 -->
	<select id="queryIsTeacher" resultType="Integer">
		SELECT 
		COUNT(1)
		FROM GP_TEACHER T
		WHERE T.TID = #{tid} AND T.TPASSWORD = #{tpassword}
	</select> 
</mapper>