<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 面向Mapper接口编程,mybatis会通过绑定自动寻找对应方法的映射SQL实现接口 -->
<mapper namespace="com.ypy.graduationProject.mapper.TeacherMapper">

	<!-- 查询所有教师 -->
	<select id="queryTeacher" resultType="java.util.HashMap">
		SELECT T.TID,T.TNAME
		FROM GP_TEACHER T
		WHERE T.TCOUNT &lt; #{count}
	</select> 
	
	<!-- 查询单个教师 -->
	<select id="queryIsTeacher" resultType="com.ypy.graduationProject.pojo.Teacher">
		SELECT 
		T.TID, T.TNAME, T.TPHONE, T.TCOUNT
		FROM GP_TEACHER T
		<where>
			<if test="tid != null">
				T.TID = #{tid}
			</if>
			<if test="tpassword != null">
				AND T.TPASSWORD = #{tpassword}
			</if>
		</where>
	</select> 
	
	<!-- 更新教师信息 -->
	<update id="updateTeacher">
		UPDATE GP_TEACHER T
		<set>
			<if test="tname != null">
				T.TNAME = #{tname},
			</if>
			<if test="tphone != null">
				T.TPHONE = #{tphone},
			</if>
			<if test="tpassword != null">
				T.TPASSWORD = #{tpassword},
			</if>
			<if test="tcount != null">
				T.TCOUNT = #{tcount},
			</if>
		</set>
		WHERE T.TID = #{tid}
	</update>
</mapper>