<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 面向Mapper接口编程,mybatis会通过绑定自动寻找对应方法的映射SQL实现接口 -->
<mapper namespace="com.ypy.graduationProject.mapper.TitleMapper">

	<!-- 教师查询自己管理的题目 -->
	<select id="queryTitle" resultType="java.util.HashMap">
		SELECT 
		C.CID CID,C.CNAME CNAME,C.CSELECTED CSELECTED,C.REQUIRED REQ,C.TASK TASK,IFNULL(B.SNAME, '-') SNAME, B.SID SID,
		C.UPDATETIME, C.UPDATENAME, A.TNAME, A.TID
		FROM 
		(SELECT T.*
		FROM
		GP_TITLE T
		<if test="tid != -1">
			WHERE T.TID = #{tid}
		</if>
		) C
		LEFT JOIN
		(SELECT S.SID, S.CID, S.SNAME FROM GP_STUDENTS S) B
		ON C.CID = B.CID
		LEFT JOIN GP_TEACHER A
		ON C.TID = A.TID
		<where>
			<if test="text!=null and text!=''">
				AND C.CNAME LIKE CONCAT('%',#{text},'%')
			</if>
			<if test="isSelected!='all' and isSelected!=null">
				AND C.CSELECTED = #{isSelected}
			</if>
		</where>
	</select> 
	
	<!-- 学生查询所有题目 -->
	<select id="queryAllTitle" resultType="java.util.HashMap">
		SELECT 
		C.CID CID,C.CNAME CNAME,C.CSELECTED CSELECTED,C.REQUIRED REQ,C.TASK TASK,IFNULL(B.SNAME, '-') SNAME, B.SID SID,
		C.TNAME TNAME, C.TID TID, C.ID TID
		FROM 
		(SELECT T.*, X.TNAME, X.TID ID
		FROM
		GP_TITLE T
		JOIN GP_TEACHER X
		ON T.TID = X.TID) C
		LEFT JOIN
		(SELECT S.SID, S.CID, S.SNAME FROM GP_STUDENTS S) B
		ON C.CID = B.CID
		<where>
			<if test="text!=null and text!=''">
				AND C.CNAME LIKE CONCAT('%',#{text},'%')
			</if>
			<if test="isSelected!='all' and isSelected!=null">
				AND C.CSELECTED = #{isSelected}
			</if>
		</where>
	</select> 
	
	<!-- 学生查询自己的题目 -->
	<select id="queryMyTitle" resultType="java.util.HashMap">
		SELECT 
		C.CID CID,C.CNAME CNAME,C.CSELECTED CSELECTED,C.REQUIRED REQ,C.TASK TASK,IFNULL(B.SNAME, '-') SNAME, B.SID SID,
		C.TNAME TNAME, C.TID TID, C.ID TID
		FROM 
		(SELECT T.*, X.TNAME, X.TID ID
		FROM
		GP_TITLE T
		JOIN GP_TEACHER X
		ON T.TID = X.TID) C
		JOIN
		(SELECT S.SID, S.CID, S.SNAME FROM GP_STUDENTS S
		WHERE S.SID = #{sid}) B
		ON C.CID = B.CID
	</select>
	
	<!-- 查询学生所选题目名称 -->
	<select id="queryStuTitle" resultType="String">
		SELECT 
		T.CNAME CNAME
		FROM 
		GP_TITLE T
		JOIN
		GP_STUDENTS S
		ON T.CID = S.CID
		WHERE S.SID = #{sid}
	</select>
	
	<!-- 判断指定题目是否已被选择 -->
	<select id="isSelected" resultType="Integer">
		SELECT 
		COUNT(*)
		FROM 
		GP_TITLE T
		WHERE T.CID = #{cid} AND T.CSELECTED = '否'
	</select> 
	
	<!-- 修改题目信息 -->
	<update id="updateTitle">
		UPDATE GP_TITLE T
		<set>
			<if test="cselected != null">
				T.CSELECTED = #{cselected},
			</if>
			<if test="updateTime != null">
				T.UPDATETIME = #{updateTime},
			</if>
			<if test="require != null">
				T.REQUIRED = #{require},
			</if>
			<if test="task != null">
				T.TASK = #{task},
			</if>
			<if test="updateName != null">
				T.UPDATENAME = #{updateName}
			</if>
		</set>
		WHERE T.CID = #{cid}
	</update>
	
	<insert id="addTitle">
		INSERT INTO
		GP_TITLE
		(CNAME,REQUIRED,TASK,UPDATETIME,UPDATENAME,CSELECTED,TID) VALUES
		(#{cname},#{require},#{task},#{updateTime},#{updateName},'否',#{tid})
	</insert>
	
	<delete id="deleteTitle">
		DELETE FROM GP_TITLE WHERE CID = #{cid} 
	</delete>
</mapper>